@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* RESET */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body{
   font-family: 'Nanum Gothic', sans-serif;
   background-color: antiquewhite;

}

header{
   width: 100%;
   padding: 5px 5%;
   display: grid;
   grid-template-columns: repeat(2, 50%);
}

.index-header{
   width: 100%;
   padding: 0;
   grid-template-columns: 15% 85%;

}

.index-header a{
   align-self: center;
}


@media screen and (min-width:951px) {
   
   .index-header{
      grid-template-columns: 61% 39%;
   
   }
   
}

.index-intro{
   min-height: 100vh;
   display: grid;
   /* grid-auto-rows: 18% 82%; */
   padding-right: 8%;
   padding-left: 5%;
}

nav{
   /* padding-top: 25px; */
   padding-right: 30px;
   text-align: right;
   /* width: 100%; */
   display: flex;
   align-items: center;  
}

.brand-logo{
   align-self: center;
   padding-top: 30px;
   width: 80px;
   cursor: pointer;
}

.cart-icon{
   width: 30px;
   cursor: pointer;
  
}

nav ul{
   display: inline-block;
   width: 100%;
   padding-right: 8px;
   /* padding: 0px 15px;   */
}

nav li{
   display: inline-block;
   margin: 15px;
}

nav ul li a{
   color: black;
   color: #332E3C;
   font-weight: 400;
   transition: all 0.3a ease 0s;
}

nav ul li a:hover{
   color: #4281A4;
}

@media screen and (max-width:951px){
   .index-intro{
      padding-right: 5%;
      

   }
   nav{
      justify-content: flex-end;
      padding-right: 0px; 
   }
   
}

@media screen and (max-width:556px){

   .brand-logo{
      padding-top: 15px;
      width: 50px;
   
   }

   .cart-icon{
      width: 20px;
   }

   nav ul{
      display: none;
   }
   
}

.headline{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   padding-bottom: 25px;
}

@media screen and (min-width:1440px) {
   .headline{
      padding-left: 60px;
   }
   
}

.index-headline{
   display: flex;
   /* flex-wrap: wrap; don't do */ 
   justify-content: space-between;
   transition: all 0.3s ease 0s;
}

.main-img{
   margin-left: auto;
   margin-right: auto;
   width: 63%;
}


@media screen and (max-width:556px){
   .index-headline{
      flex-direction: column;
   }
}

@media screen and (max-width:1024px){


   .headline{
      max-width: 500px;
      /* justify-content: space-around; */
   }
}

@media screen and (min-width:951px){

   .headline{
      flex-basis: 61%;
   }

   .main-figure{
      flex-basis: 39%;
   }

   .main-img{
      margin-left: auto;
      width: 100%;
   }
   
}

@media screen and (min-width:1024px){

   .headline{
      flex-basis:70%;

   }

   .main-figure{
      flex-basis: 30%;
   }
}


.background{
   background-color: #DCA783;
}

.main-figure{
   display:flex;
   align-items: flex-end;
}


@media screen and (max-width:950px) {
   .background{
      background-color: transparent;
   }
   .main-figure{
      display: none;
   }  
}


.col-2 h1{
   font-family: 'Libre Bodoni', serif;
   /* font-size: 50px; */
   font-size: 2.5em;
   font-weight: 600;
   line-height: 55px;
   /* margin-top: 65px; */
   padding-top: 25px;
   padding-bottom: 25px;
   /* padding-left: 60px; */
   text-transform: capitalize;
}




@media screen and (min-width:1440px){
   .col-2 h1{
      font-size: 3.2em;
      line-height: 65px;
   
   }
}

.col-2 p{
    /* margin-left: 60px; */
}

.shop-btn{
   width: 150px;
   font-size: 20px;
   padding: 20px 25px;
   border: 0;
   outline: 0;
   border-radius: 8px;
   cursor: pointer;
   background-color: #FF5A5F;
   transition: all 0.3s ease 0s;
   margin-top: 25px;
   /* margin-left: 60px; */
}

@media screen and (max-width:768px){
   .col-2 h1{
      padding-top: 0px;
      padding-bottom: 5px;
   }

   .headline{
      /* justify-content: flex-start; */
      /* padding-top: 15px; */
      padding-left: 0px;
      padding-bottom: 15px;
   }

   .shop-btn{
      margin-top: 15px;
      /* margin-left: 60px; */
   }
   
}


.shop-btn:hover{
   background-color: #ff5a60e3;
   transition: all 0.3s ease 0s;
}

button{
   border: 0;
   outline: 0;
   background: none;
}


/* new releases */

.index-releases{
   padding: 75px 5%;
   background-color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   /* grid-auto-columns: repeat(3, 30%); */

}

@media screen and (min-width:768px) {
   .index-releases{

      flex-wrap:wrap;
   }
   
}

.index-releases a{
   color: #332E3C;
}

.index-releases-header{
   text-align: center;
   /* grid-column: 1/5;
   grid-row: 1/2; */
   flex-basis: 100%;
}

.index-releases-header::after{
   content: '';
   background: #FF5A5F;
   width: 115px;
   height:5px;
   position: absolute;
   transform: translateY(+260%) translateX(+4%);
   /* bottom: -100px;
   left: 56%; */
}

.index-releases-header::before{
   content: '';
   background: #FF5A5F;
   width: 115px;
   height:5px;
   position: absolute;
   transform: translateX(-105%) translateY(+260%);
}

@media screen and (max-width:768px) {
   .index-releases-header::after{

      width: 55px;

   }
   
   .index-releases-header::before{
      width: 55px;

   
}

.index-releases a{
   /* width: 30%; */
   /* background-color: #63b1cd2b; */
   /* background-color: whitesmoke;
   border: 1px solid black;
   border-radius: 5px; */
   flex-basis: 20%;
   /* grid-row: 2/3; */
   margin: 50px;
   min-width: 258px;
   max-width: 370px;
   min-height: 249px;
   text-align: center;
  
   
}


.index-releases img{
   width: 100%;
   position: relative;
   bottom: 0;
   /* cursor: pointer; */
   margin-left: auto;
   margin-right: auto;
}

.index-releases figcaption{
   margin-top: 10px;
   font-weight: 700;

}


/* products-apparel */

.product-apparel{
   padding-top: 2%;
   background-color: white;
   width:100%;
   text-align: center;
   min-height:580px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.product-apparel h1{
   flex-basis: 100%;
   margin-bottom:5%;
}

.product-apparel-header::after{
   content: '';
   background: #FF5A5F;
   width: 115px;
   height:5px;
   position: absolute;
   transform: translateY(+600%) translateX(-90%);
   /* border-radius: 5px; */
}

.product-apparel-figure{
   flex-basis: 23%;
   max-width: 450px;
   margin-bottom: 5%;
   border-radius: 8px 8px 0px 0px;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
   cursor: pointer;
}

@media screen and (max-width:556px) {
   .product-apparel-figure{
      flex-basis: 87%;
      max-width: 350px;

   }

   .product-apparel h1{
      flex-basis: 100%;
      margin-bottom:15%;
   }
   
}

.image-container{
   background-color: #63b1cd4a;
   border-radius: 8px 8px 0px 0px;
   border-bottom: 3px solid #FF5A5F;
   padding: 3%;

}


.product-apparel-figure img{
   width: 100%;
   height: auto;
   display: block;
}

.product-apparel-figure figcaption{
   padding: 4% 3% 2% 3%;
   text-align: left;
}


.apparel-price{
   font-weight: 700;
}


/* footer */
footer{
   background-color: #332E3C;
   width: 100%;
   padding: 2%;
}

/* footer img{
   
} */

